apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ovn-controller
  namespace: kube-system
  labels:
    app: ovn-controller
spec:
  selector:
    matchLabels:
      app: ovn-controller
  template:
    metadata:
      labels:
        app: ovn-controller
        component: network
        type: infra
    spec:
      tolerations:
      - operator: Exists
        effect: NoSchedule
      serviceAccountName: ovn
      hostNetwork: true
      hostPID: true
      initContainers:
      - name: install-ovs
        image: kubeovn/kube-ovn:v1.12.1
        imagePullPolicy: IfNotPresent
        command:
        - /kube-ovn/install-ovs.sh
        securityContext:
          runAsUser: 0
          privileged: true
          capabilities:
            add: ["SYS_ADMIN", "SYS_NICE", "NET_ADMIN", "IPC_LOCK", "SYS_MODULE"]
        env:
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        volumeMounts:
        - mountPath: /usr/local/share/openvswitch
          name: ovs-etc
        - mountPath: /var/run/openvswitch
          name: ovs-run
        - mountPath: /var/log/ovn
          name: ovn-log
        - mountPath: /etc/localtime
          name: localtime
      - name: ovn-controller-init
        image: kubeovn/kube-ovn:v1.12.1
        command:
          - /bin/sh
          - -c
          - |
            cp -r /etc/ovn-source/* /etc/ovn/
        securityContext:
          runAsUser: 0
        volumeMounts:
          - name: ovn-config
            mountPath: /etc/ovn
          - name: ovn-config-source
            mountPath: /etc/ovn-source
            readOnly: true
      containers:
      - name: ovn-controller
        image: kubeovn/kube-ovn:v1.12.1
        imagePullPolicy: IfNotPresent
        command:
        - /kube-ovn/start-controller.sh
        securityContext:
          runAsUser: 0
          privileged: true
          capabilities:
            add: ["SYS_ADMIN", "NET_ADMIN", "SYS_NICE", "IPC_LOCK"]
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        volumeMounts:
        - mountPath: /usr/local/share/openvswitch
          name: ovs-etc
        - mountPath: /var/run/openvswitch
          name: ovs-run
        - mountPath: /var/run/ovn
          name: ovn-run
        - mountPath: /etc/ovn
          name: ovn-config
        - mountPath: /var/log/ovn
          name: ovn-log
        - mountPath: /etc/localtime
          name: localtime
        readinessProbe:
          exec:
            command:
            - /kube-ovn/ovn-controller-healthcheck
          periodSeconds: 3
          timeoutSeconds: 45
        livenessProbe:
          exec:
            command:
            - /kube-ovn/ovn-controller-healthcheck
          initialDelaySeconds: 30
          periodSeconds: 7
          failureThreshold: 5
          timeoutSeconds: 45
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 1000m
            memory: 1Gi
      volumes:
      - name: ovs-etc
        hostPath:
          path: /usr/local/share/openvswitch
      - name: ovs-run
        hostPath:
          path: /var/run/openvswitch
      - name: ovn-run
        hostPath:
          path: /var/run/ovn
      - name: ovn-config
        hostPath:
          path: /var/lib/ovn
      - name: ovn-config-source
        configMap:
          name: ovn-config
      - name: ovn-log
        hostPath:
          path: /var/log/ovn
      - name: localtime
        hostPath:
          path: /etc/localtime