apiVersion: v1
kind: Pod
metadata:
  name: host-inspect
  namespace: kube-system
  labels:
    app: host-inspect
spec:
  restartPolicy: Never
  hostPID: true
  containers:
  - name: host-inspect
    image: busybox:1.36
    command: ["sleep", "3600"]
    securityContext:
      privileged: true
    volumeMounts:
    - name: host-root
      mountPath: /host
  volumes:
  - name: host-root
    hostPath:
      path: /
      type: Directory
