apiVersion: apps/v1
kind: Deployment
metadata:
  name: atonixcorp-db
  namespace: atonixcorp
  labels:
    app: atonixcorp-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: atonixcorp-db
  template:
    metadata:
      labels:
        app: atonixcorp-db
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: atonixcorp-secrets
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: atonixcorp-secrets
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: atonixcorp-secrets
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: atonixcorp-secrets
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: atonixcorp-db
  namespace: atonixcorp
spec:
  selector:
    app: atonixcorp-db
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP
