services:
  spark-master:
    image: apache/spark:3.4.1
    environment:
      - SPARK_MASTER_WEBUI_PORT=8080
    ports:
      - "7077:7077"
      - "8090:8080"
    networks:
      - atonixcorp-platform_atonix-network
    restart: unless-stopped

  spark-worker:
    image: apache/spark:3.4.1
    environment:
      - SPARK_WORKER_WEBUI_PORT=8081
      - SPARK_MASTER=spark://spark-master:7077
    depends_on:
      - spark-master
    ports:
      - "8091:8081"
    networks:
      - atonixcorp-platform_atonix-network
    restart: unless-stopped

  zookeeper:
    image: zookeeper:3.8
    container_name: zookeeper
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zookeeper:2888:3888
    ports:
      - "2181:2181"
    networks:
      - atonixcorp-platform_atonix-network
    restart: unless-stopped

  apache-proxy:
    image: httpd:2.4
    volumes:
      - ./apache-spark.conf:/usr/local/apache2/conf/httpd.conf:ro
    depends_on:
      - spark-master
    ports:
      - "8088:80"
    networks:
      - atonixcorp-platform_atonix-network
    restart: unless-stopped

networks:
  atonixcorp-platform_atonix-network:
    external: true
