apiVersion: v1
kind: PersistentVolume
metadata:
  name: fast-ssd-postgres-pv
  labels:
    type: local
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: fast-ssd
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /mnt/data/postgres
    type: DirectoryOrCreate
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - atonixcorp
