apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: atonixcorp
spec:
  template:
    spec:
      containers:
      - name: backend
        image: atonixdev/atonixcorp-backend:1.0.1
